/* src/index.css */
@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #111827; /* gray-900 */
}

html, body {
  overflow-x: hidden; /* 전체 페이지의 수평 스크롤을 완전히 막음 */
  background-color: #111827; /* gray-900 */
}


.scroll-section {
  scroll-margin-top: 80px;
  /* Header 높이에 맞게 조정 */
}
