/* client/src/pages/About.module.css */

/* 전체 컨테이너 */
.aboutContainer {
    display: flex;
    justify-content: flex-start;
    /* 왼쪽 정렬 */
    align-items: flex-start;
    /* 위쪽 기준 정렬 */
    padding: 20px;
    gap: 20px;
    /* 사이드바와 콘텐츠 간 간격 */
}

/* 사이드바 (왼쪽 정보) */
.aboutSidebar {
    flex: 0 0 500px;
    /* 고정 너비 */
    background-color: #f8f9fa;
    /* 옅은 색 배경 */
    border: 1px solid #e0e0e0;
    /* 옅은 회색 테두리 */
    border-radius: 10px;
    /* 둥근 모서리 */
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* 부드러운 그림자 */
    text-align: left;
}

/* 프로필 사진 */
.profilePicture {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* 정보 섹션 (사이드바 내부) */
.infoSectionName {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.infoSectionDetail {
    font-size: 1rem;
    margin: 5px 0;
    color: #555;
}

/* 콘텐츠 영역 (오른쪽) */
.aboutContent {
    flex: 1;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
}

/* 콘텐츠 내부 텍스트 */
.role {
    font-size: 1.25rem;
    color: #777;
    margin: 0;
    /* 필요 시 margin 추가 */
}

.aboutMainName {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 10px 0;
}

.sectionTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 30px 0 10px;
}

/* 소개 문단 (주요 설명) */
.aboutDescription {
    font-size: 18px;
    color: #333;
    text-align: justify;
    padding: 20px;
    line-height: 1.8;
    background-color: #f9f9f9;
    border-left: 5px solid #0056b3;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.titleImage {
    max-width: 60%;
    height: auto;
    border-radius: 10px;
}

.location{
    font-size: 1.2rem;
    margin: 10px 0;
    color: #bdbdbd;
    text-align: right;
}
.degree
{
    font-size: 1.2rem;
    margin: 10px 0;
    color: #555;
}

.specialization
{
    font-size: 1.2rem;
    margin: 10px 0;
    color: #8a8a8a;
}